/*
Utilizar para responsive:
  - Unidades relativas
  - Grid
  - En imagenes, max-width: 100% o srcset
  - Tipografía y escalabilidad
  - Evitar elementos fijos
*/
/*
  Color principal: #1FD9F2
  Color secundario: #62E102
  Color de letra negra: #333;
  Color de letra blanca: #eeeeee;
*/

:root {
  --color-principal: #1FD9F2;
  --color-secundario: #62E102;
  --color-letra-negra: #333;
  --color-letra-blanca: #F5F5F5;
  --color-blanco-general: #E8E8E8;
}

*{ // Parece que si uso :root, hay elementos a los que no les afecta
  // color-scheme: light dark; // Indica que el color de fondo y texto se adaptará al modo claro y oscuro del sistema
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Varela Round', 'Roboto', sans-serif;
  font-size: 16px;
  // background-color: #f0f0f0;
  line-height: 1.5;


  background-color: #2196f3; // Base blue color
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px; // Size of each grid cell
}

// Estilos para el modo claro
.grid-background {
  min-height: 100vh; // Para cubrir toda la pantalla
  background-color: #2196f3; // Azul claro (modo claro)
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

// Estilos para modo oscuro
.dark-theme .grid-background {
  min-height: 100vh; // Para cubrir toda la pantalla
  background-color: #121212;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;

  color: var(--color-letra-blanca);
}

.common-div {
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
  background-color: var(--color-blanco-general);
}

// .light-effect {
//   position: absolute;
//   top: 10%;
//   left: 50%;
//   width: 300px;
//   height: 300px;
//   background: rgba(255, 255, 255, 0.3);
//   border-radius: 50%;
//   box-shadow: 0 0 60px rgba(255, 255, 255, 0.6);
//   animation: shine 3s infinite alternate;
//   transform: translate(-50%, -50%);
// }

@keyframes shine {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
}

// FONDO DE PÁGINA (IMAGEN)
.background {
//   // background-image: url('/images/background2.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   width: 100%;
  min-height: 100vh; /* Asegura que cubra todo el viewport */
}




@font-face {
  font-family: 'Backto1982';
  src: url('../public/fonts/Backto1982.ttf');
}
@font-face {
  font-family: 'DancingDonuts';
  src: url('../public/fonts/DancingDonutsNF.ttf');
}
@font-face {
  font-family: 'Flashback';
  src: url('../public/fonts/Flashback.ttf');
}
@font-face {
  font-family: 'Goffik';
  src: url('../public/fonts/Goffik-S.ttf');
}
@font-face {
  font-family: 'HangTheDJ';
  src: url('../public/fonts/HangTheDJ.ttf');
}
@font-face {
  font-family: 'Humanoid';
  src: url('../public/fonts/Humanoid.ttf');
}
@font-face {
  font-family: 'Invasion2000';
  src: url('../public/fonts/Invasion2000.ttf');
}
@font-face {
  font-family: 'Invited';
  src: url('../public/fonts/Invited.ttf');
}
@font-face {
  font-family: 'Varela Round';
  src: url('../public/fonts/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: 'VelvendaChill';
  src: url('../public/fonts/VelvendaChill.ttf');
}
@font-face {
  font-family: 'Myfont';
  src: url('../public/fonts/Myfont-Regular.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
