/*
Utilizar para responsive:
  - Unidades relativas
  - Grid
  - En imagenes, max-width: 100% o srcset
  - Tipografía y escalabilidad
  - Evitar elementos fijos
*/

@use '@angular/material' as mat;


:root {
  --color-principal: #1FD9F2;
  // --color-secundario: #62E102;
  --color-secundario:  #3ecd5e;
  --color-letra-negra: #333;
  --color-letra-blanca: #F5F5F5;
  --color-blanco-general: #E8E8E8;

  @include mat.expansion-overrides((
    container-background-color: var(--color-secundario),
    ));
}

*{ // Parece que si uso :root, hay elementos a los que no les afecta
  // color-scheme: light dark; // Indica que el color de fondo y texto se adaptará al modo claro y oscuro del sistema
  // TODO: Saber si usar color-sheme o no
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Varela Round', 'Roboto', sans-serif;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  scroll-behavior: smooth;
}

// Estilos para el modo claro
.grid-background {
  min-height: 100vh; // Para cubrir toda la pantalla
  background-color: #2196f3;
  background-image:
  linear-gradient(#0000001a 0.0625rem, transparent 0.0625rem),
  linear-gradient(90deg, #0000001a 0.0625rem, transparent 0.0625rem);
  background-size: 3.125rem 3.125rem;
  ::selection {
    background-color: #ffb347; /* Color de fondo cuando seleccionas */
    color: var(--color-letra-blanca);            /* Color del texto seleccionado */
  }
}

// Estilos para modo oscuro
.dark-theme .grid-background {
  min-height: 100vh; // Para cubrir toda la pantalla
  background-color: #121212;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;

  color: var(--color-letra-blanca);
  ::selection {
    background-color: #ffb347; // Color de fondo cuando seleccionas
    color: var(--color-letra-negra); // Color del texto seleccionado
  }
}


@font-face {
  font-family: 'Backto1982';
  src: url('../public/fonts/Backto1982.ttf');
}
@font-face {
  font-family: 'DancingDonuts';
  src: url('../public/fonts/DancingDonutsNF.ttf');
}
@font-face {
  font-family: 'Flashback';
  src: url('../public/fonts/Flashback.ttf');
}
@font-face {
  font-family: 'Goffik';
  src: url('../public/fonts/Goffik-S.ttf');
}
@font-face {
  font-family: 'HangTheDJ';
  src: url('../public/fonts/HangTheDJ.ttf');
}
@font-face {
  font-family: 'Humanoid';
  src: url('../public/fonts/Humanoid.ttf');
}
@font-face {
  font-family: 'Invasion2000';
  src: url('../public/fonts/Invasion2000.ttf');
}
@font-face {
  font-family: 'Invited';
  src: url('../public/fonts/Invited.ttf');
}
@font-face {
  font-family: 'Varela Round';
  src: url('../public/fonts/VarelaRound-Regular.ttf');
}
@font-face {
  font-family: 'VelvendaChill';
  src: url('../public/fonts/VelvendaChill.ttf');
}
@font-face {
  font-family: 'Myfont';
  src: url('../public/fonts/Myfont-Regular.ttf');
}
