/*
Utilizar para responsive:
  - Unidades relativas
  - Grid
  - En imagenes, max-width: 100% o srcset
  - Tipografía y escalabilidad
  - Evitar elementos fijos
*/

@use '@angular/material' as mat;
@use 'sass:map';


:root {
  --color-principal: #1FD9F2;

  // --color-secundario: #62E102;
  --color-secundario:  #3ecd5e;
  --color-terciario: #94F235;
  --color-cuaternario: #31C1A0;
  --color-letra-negra: #333;
  --color-letra-blanca: #F5F5F5;
  --color-blanco-general: #E8E8E8;

  @include mat.expansion-overrides((
    container-background-color: var(--color-secundario),
    ));
    @include mat.progress-spinner-overrides((
      active-indicator-color: orange,
    ));
    @include mat.paginator-overrides((
      container-text-font: "Roboto",
      container-text-size: 1rem,
    ));
  @include mat.theme((
    color:(
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0
  ));

}

*{ // Parece que si uso :root, hay elementos a los que no les afecta
  padding: 0;

  // color-scheme: light dark; // Indica que el color de fondo y texto se adaptará al modo claro y oscuro del sistema
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background:
    linear-gradient(#0000001a 0.0625rem, transparent 0.0625rem),
    linear-gradient(90deg, #0000001a 0.0625rem, transparent 0.0625rem),
    #87CEEB;

  // border-radius: 50px;
  box-shadow: inset 0 0 0 8px #000;
  transition: background-color 0.4s ease, color 0.4s ease;
  background-size: 3.125rem 3.125rem;
  min-height: 100vh;
  scroll-behavior: smooth;

    .toggle-button {
      color: #adab39;
    }

    .account-button {
      color: #44474E;
    }

  ::selection {
    color: var(--color-letra-blanca);
    background-color: #ffb347;
  }

  h1 {
    font-family: 'Varela Round', Roboto, "Helvetica Neue", sans-serif;
    font-size: 5.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-letra-negra);
    margin-bottom: 2%;
  }

  &.dark-mode {
    color: var(--color-letra-blanca);
    background:
      linear-gradient(#ffffff0d 1px, transparent 1px),
      linear-gradient(90deg, #ffffff0d 1px, transparent 1px),
      #242525;
    transition: background-color 0.4s ease, color 0.4s ease;
    background-size: 3.125rem 3.125rem;
    color-scheme: dark;


    ::selection {
      color: var(--color-letra-negra);
      background-color: #ffb347;
    }

    .toggle-button {
      color: #424d7e;
    }

    h1, h2 {
      color: var(--color-letra-blanca);
    }
  }
}


.custom-container {
  border: 2px solid #000;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow:
  9px 9px 0 1px var(--color-terciario),   /* la capa de "borde" alrededor de la sombra */
  9px 9px 0 2px #000;  /* la sombra original */

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-container:hover {
  box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
  transform: translateY(-5px);
}


.custom-container-2 {
  border: solid 2px #000;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 9px 9px 0 1px #000;
}


@font-face {
  font-family: 'Backto1982';
  src: url('../public/fonts/Backto1982.ttf');
}

@font-face {
  font-family: DancingDonuts;
  src: url('../public/fonts/DancingDonutsNF.ttf');
}

@font-face {
  font-family: Flashback;
  src: url('../public/fonts/Flashback.ttf');
}

@font-face {
  font-family: Goffik;
  src: url('../public/fonts/Goffik-S.ttf');
}

@font-face {
  font-family: HangTheDJ;
  src: url('../public/fonts/HangTheDJ.ttf');
}

@font-face {
  font-family: 'Invasion2000';
  src: url('../public/fonts/Invasion2000.ttf');
}

@font-face {
  font-family: Invited;
  src: url('../public/fonts/Invited.ttf');
}

@font-face {
  font-family: 'Varela Round';
  src: url('../public/fonts/VarelaRound-Regular.ttf');
}

@font-face {
  font-family: VelvendaChill;
  src: url('../public/fonts/VelvendaChill.ttf');
}

@font-face {
  font-family: 'PressStart2P-vaV7';
  src: url('../public/fonts/PressStart2P-vaV7.ttf');
}

@font-face {
  font-family: Myfont;
  src: url('../public/fonts/Myfont-Regular.ttf');
}

.pixel-font {
    font-family: 'PressStart2P-vaV7';
    color: white;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 0.5px black;
}

// * Scrollbar
::-webkit-scrollbar {
  width: 9px;
}

// * Track (fondo de la barra)
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1e1e2f;
}

// * Thumb (la parte que se mueve)
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffb347;
}

// * Thumb al pasar el mouse
::-webkit-scrollbar-thumb:hover {
  background: #ff7f50;
}

h2 {
  font-size: 2em;
}


.custom-button {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 0.6rem;
  font-size: 100%;
  transition: background-color 0.3s ease;
}

.custom-button:active {
  transform: translateY(2px);
}
