<header class="main-header">
  <div class="logo-container">
    <a href="" class="logo-button"><img class="levelupzonelogo-img" src="/images/LevelUpZoneLogo.png" alt="LevelUpZoneLogo"/></a>
  </div>

  <div class="main-header2">
    <nav class="nav-item" aria-label="Main navigation">
      <ul class="ul-item">
        <li><a>Inicio</a></li>
        <li><a>Mi inventario</a></li>
        <li><a>Juegos</a></li>
        <li><a>Contacto</a></li>
      </ul>
    </nav>
  </div>

  <!-- cambio button por a -->
  <div class="login-container">
    <a class="login-button"><img class="login-img" src="/images/LoginLogo.png" alt="LoginLogo.png"></a>
  </div>
</header>
