<div class="background">
  <main style="display: flex; flex-direction: column;">
    <article>
      <figure>
        <img class="levelupzonelogo-img" src="/images/logo_pixel_art.png" alt="LevelUpZoneLogo"/>
        <div class="levelupzone-title">
          <!-- <h1><i>Level Up Zone</i></h1> -->

          <div class="logo">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-8.png" alt="L" class="letter letter-1">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-1.png" alt="E" class="letter letter-2">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-2.png" alt="V" class="letter letter-3">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-1.png" alt="E" class="letter letter-4">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-8.png" alt="L" class="letter letter-5">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-3.png" alt="U" class="letter letter-6">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-4.png" alt="P" class="letter letter-7">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-5.png" alt="Z" class="letter letter-8">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-6.png" alt="O" class="letter letter-9">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-7.png" alt="N" class="letter letter-10">
            <img src="/fonts/TitleLevelUpZone/pixil-frame-1.png" alt="E" class="letter letter-11">
          </div>

          <!-- <h1><i>Zone</i></h1> -->
          <i><b>Power up your store. Master your collection 👾</b></i>
        </div>
      </figure>
      <hr style="width: 50%; border: 2px solid #ffffff; margin: auto;">
      <div class="description">
        <p>¡Bienvenido al centro de mando definitivo para tu tienda de videojuegos!</p>
        <p>Organiza, gestiona y potencia tu colección con una plataforma potente e intuitiva, diseñada especialmente para apasionados y profesionales del gaming. Controla el inventario, destaca las nuevas incorporaciones y agiliza tus ventas — todo desde un mismo lugar.
        </p>
        <p>Ya sea que dirijas una tienda boutique o un gran espacio comercial, este panel de control te brindará las herramientas para llevar tu negocio al siguiente nivel.</p>
      </div>
    </article>
<!-- * Carrusel -->


<div>
  <h1>Últimas noticias</h1>
  <div class="carousel-container">
    <owl-carousel-o [options]="customOptions">
      @for (slide of slides; track $index) {
        <ng-container>
          <ng-template carouselSlide [id]="'slide' + ($index + 1)">
            <div class="slide-wrapper">
              <img [src]="slide.image" alt="Imagen {{ $index + 1 }}" />
              <div class="slide-text">
                {{ slide.text }}
              </div>
            </div>
          </ng-template>
        </ng-container>
      }
    </owl-carousel-o>
  </div>
</div>

<br>
<br>














  </main>

    <!-- Contacto  -->







</div>
