<div class="background">
  <main style="display: flex; flex-direction: column;">
    <article>
      <figure>
        <img class="levelupzonelogo-img" src="/images/logos/logo_pixel_art.png" alt="LevelUpZoneLogo"/>
        <div class="levelupzone-title">

          <div class="logo">
            <img
              *ngFor="let letter of titleLetters; let i = index"
              [src]="'/fonts/TitleLevelUpZone/' + letter.src"
              [alt]="letter.alt"
              class="letter"
              [ngClass]="'letter-' + (i + 1)"
            />
          </div>

          <i><b>Power up your store. Master your collection 👾</b></i>
        </div>
      </figure>
      <hr style="width: 50%; border: 2px solid #ffffff; margin: auto;">
      <div class="description">
        <p>¡Bienvenido al centro de mando definitivo para tu tienda de videojuegos!</p>
        <p>Organiza, gestiona y potencia tu colección con una plataforma potente e intuitiva, diseñada especialmente para apasionados y profesionales del gaming. Controla el inventario, destaca las nuevas incorporaciones y agiliza tus ventas — todo desde un mismo lugar.
        </p>
      </div>
    </article>
  </main>
</div>
