<!-- <div class="background">
  <main>
    <article>
      <figure>
        <img class="levelupzonelogo-img" src="/images/LevelUpZoneLogoCenter.png" alt="LevelUpZoneLogo"/>
<div class="neon-text">
  <span class="letter">L</span>
  <span class="letter">e</span>
  <span class="letter">v</span>
  <span class="letter">e</span>
  <span class="letter">l</span>
  <span class="letter"> </span>
  <span class="letter">U</span>
  <span class="letter">p</span>
  <span class="letter"> </span>
  <span class="letter">Z</span>
  <span class="letter">o</span>
  <span class="letter">n</span>
  <span class="letter">e</span>
</div>

        <img src="/images/LevelUpZoneTitle.png" alt="">
      </figure>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt explicabo nam ratione asperiores! Fuga maxime, nihil reiciendis, eaque pariatur sed aspernatur eligendi consequatur atque, dolor amet necessitatibus assumenda voluptatibus soluta?</p>
      <div class="cta-button">
        <button>Botón</button>
      </div>
    </article>
  </main>
</div> -->
