<div class="background">
  <main>
    <article>
      <figure>
        <img class="levelupzonelogo-img" src="/images/LevelUpZoneLogoCenter.png" alt="LevelUpZoneLogo"/>
        <h1 class="title">LEVELUPZONE</h1>
        <h1 class="title" style="font-family: 'HangTheDJ';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'VelvendaChill';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Invited';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Goffik';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Flashback';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'DancingDonuts';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Backto1982';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Invasion2000';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'HumanoidStraight';">LEVELUPZONE</h1>
<h1 class="title" style="font-family: 'Humanoid';">LEVELUPZONE</h1>

        <img src="/images/LevelUpZoneTitle.png" alt="">
      </figure>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt explicabo nam ratione asperiores! Fuga maxime, nihil reiciendis, eaque pariatur sed aspernatur eligendi consequatur atque, dolor amet necessitatibus assumenda voluptatibus soluta?</p>
      <div class="cta-button">
        <button>Botón</button>
      </div>
    </article>
  </main>
</div>
