@if (loading) {
  <div>Cargando juego...</div>
}

@if (error) {
  <div>{{ error }}</div>
}

@if (game) {
  <main>
    <h1>{{game.name}}</h1>
    <div class="grid">
      <div class="square custom-container">
        <img src="{{game.photo}}" alt="{{game.photo}}" class="square-image">
      </div>

      <div class="info-container">

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Descripción:</b> {{game.description}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Fecha de lanzamiento:</b> {{game.release_date}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Género:</b> {{game.genre}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Multijugador:</b> {{game.multiplayer}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Lenguajes:</b> {{game.languages}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Desarrollador:</b> {{game.studio}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Precio:</b> {{game.price}}</p>
        </div>

        <div class="info-item">
          <img src="/icons/next.svg" alt="icon next" class="next-icon">
          <p><b>Tags:</b> {{game.tags}}</p>
        </div>
      </div>

    </div>
  </main>
}
