@if (loading) {
  <div>Cargando juego...</div>
}

@if (error) {
  <div>{{ error }}</div>
}

@if (game) {
  <main>
    <div class="grid">
      <div class="square custom-container">
        <img src="{{game.photo}}" alt="{{game.photo}}" class="square-image">
      </div>


      <div class="info-container">
        <h2>{{game.name}}</h2>
        <p><b>Descripción: </b>{{game.description}}</p>
        <p><b>Fecha de lanzamiento: </b>{{game.release_date}}</p>
        <p><b>Género: </b>{{game.genre}}</p>
        <p><b>Multijugador: </b>{{game.multiplayer}}</p>
        <!-- <p><b>Plataformas: </b>{{game.platforms}}</p> -->
        <p><b>Lenguajes: </b>{{game.languages}}</p>
        <p><b>Desarrollador: </b>{{game.studio}}</p>
        <p><b>Distribuidor: </b>{{game.review_score}}</p>
        <p><b>Precio: </b>{{game.price}}</p>
        <p><b>Tags: </b>{{game.tags}}</p>
        <!-- <p><b>Clasificación: </b>{{game.age_rating}}</p> -->
      </div>
    </div>
  </main>
}
