// TODO: Saber como ordenarlo con SCSS
* {
  box-sizing: border-box;
}
main {
  margin: 2%;
  .title {
    font-size: 2em;
  }
}
.container {
  padding: 2%;
  // border-radius: 0.6rem;
  // background-color: #3ABEF9;
  // box-shadow: 9px 9px 0px 1px rgba(0,0,0,1);
  // -webkit-box-shadow: 9px 9px 0px 1px rgba(0,0,0,1);
  // border: #121212 solid 1px;
}
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search-container {
  display: flex;
  gap: 10px;
}
.search-input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.filter-container {
  position: relative;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter-button:hover {
  background-color: #218838;
}
.arrow {
  font-size: 18px;
}
.dropdown {
  display: none;
  // position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 2px 10px #0000001a;
}
.dropdown ul {
  list-style: none;
  padding: 10px 0;
}
.dropdown ul li {
  padding: 8px 20px;
  cursor: pointer;
}
.dropdown ul li:hover {
  background-color: #f4f4f4;
}
.filter-container:hover .dropdown {
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
  .square {

    // width: 14rem;
    // height: 26rem;

    // background: radial-gradient(circle at center, #229AF4 100%, aquamarine 100%);
    background: lineal-gradient(to bottom, #F8E559, #864AF9);
    background-color: #F8E559;
    // background: linear-gradient(to bottom, #4686a6, aquamarine);



    border: 2px solid #000000;
    box-shadow: 9px 9px 0px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 9px 9px 0px 1px rgba(0,0,0,1);
    border-radius: 0.6rem;
    padding: 1.5%;
    text-align: center;
    // position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .square-image {
      width: 100%;
      height: 20rem;
      object-fit: cover; /* Ajusta la imagen sin deformarla */
      border-radius: 0.6rem;
      margin-bottom: 6%;
      border: 0.5px solid #000000;

    }
    .info-button {
      white-space: nowrap;
      padding: 5% 4%;
      font-size: 90%;
      cursor: pointer;
      background-color: #3ecd5e;
      color: white;
      border-radius: 4px;
      margin: 4% 0 1% 0;
      text-decoration: none;
      transition: background-color 0.3s ease;
      border: 1px solid #000000;
      box-shadow: 0.5px 5px 0px 1px #0a4528;
      -webkit-box-shadow: 0.5px 5px 0px 1px #0a4528;
      &:hover {
        background-color: #218838;
      }
    }
  }
  .square:hover {
    transform: translateY(-5px);
  }
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}





// * POP UP
.dialog-content {
  padding: 2%;
  border-radius: 1%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .dialog-image {
    max-width: 100%;
    height: auto;
    border-radius: 3%;
  }
  .dialog-text {
    margin-left: 4%;
  }
}

// * COLORES

// main {
//   background-color: #c47b2881;
// }
// article {
//   background-color: #28c44a81;
// }
// figure {
//   background-color: #c4289581;
// }
// figure img {
//   background-color: #6128c481;
// }
// p {
//   background-color: #2838c499;
// }
