<main>
<h1>Lista completa de juegos</h1>
  <br>
  <div class="container">

    <article>
      <div class="filter-container">
        <form (submit)="$event.preventDefault()">
          <mat-form-field>
            <mat-label>Buscar por nombre</mat-label>
            <input matInput #filter>
          </mat-form-field>
          <button class="search-button" style="margin-left: 10px;" mat-fab type="button" (click)="filtrarResultado(filter.value)">
            <mat-icon>search</mat-icon>
          </button>
        </form>

      </div>
    </article>

    <div class="grid">
      @for (game of pagedGames; track $index;) {
        <div class="square custom-container">
          <img src="{{game.photo}}" alt="{{game.photo}}" class="square-image">
          <p>{{game.name}}</p>
          <div class="button-container">
            @if (isLogged) {
                <a class="info-button" [routerLink]="['/game-details', game.id]">Saber más</a>
                <button mat-icon-button (click)="addToTemporaryCollection(game)">
                  <mat-icon aria-hidden="false" aria-label="Icono de agregar" fontIcon="add"></mat-icon>
                </button>
                @if (role === 'ROLE_ADMIN') {
                  <button mat-icon-button (click)="deleteGame(game.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                }
            } @else {
              <a class="info-button" [routerLink]="['/game-details', game.id]">Saber más</a>
              <button mat-icon-button (click)="showAuthMsg(2)">
                <mat-icon aria-hidden="false" aria-label="Icono de agregar" fontIcon="add"></mat-icon>
              </button>
            }
          </div>
        </div>
      }
    </div>
    <mat-paginator [length]="FilteredGames.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

  @if (isLogged) {
    @if (role === 'ROLE_ADMIN') {
      <p>Bienvenido, administrador</p>
    } @else {

    }
  }

</main>
