<main>
<p class="title">Inventario de ...</p>
  <br>
  <div class="container">



      <article class="filter-section">
        <div class="filter-container">

          <form (submit)="$event.preventDefault()">
            <mat-form-field>
              <mat-label>Buscar por nombre</mat-label>
              <input matInput #filter>
            </mat-form-field>
            <!-- <button mat-button type="button" (click)="filtrarResultado(filter.value)">Buscar</button> -->
            <button mat-mini-fab type="button" (click)="filtrarResultado(filter.value)">
              <mat-icon>search</mat-icon>
            </button>
          </form>

        </div>
      </article>


    <div class="grid">
      @for (game of FilteredGames; track $index) {
        <div class="square">
          <img src="{{game.photo}}" alt="{{game.photo}}" class="square-image">
          <p>{{game.name}}</p>
          <!-- <button class="add-button" (click)="agregarAlInventario(game)">Agregar</button> -->

          <div class="button-container">
            <button mat-icon-button mat-dialog-close>
              <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="star"></mat-icon>
            </button>
            <!-- <button class="view-button"></button> -->
            <a [routerLink]="['/game-details', game.id]">Saber más</a>
            <button mat-icon-button mat-dialog-close>
              <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="add"></mat-icon>
            </button>
          </div>
        </div>
      }
    </div>

    <!-- <div class="pagination">
      <button class="prev-page">← Anterior</button>
      <span class="page-info">Página 1 de 5</span>
      <button class="next-page">Siguiente →</button>
    </div>  -->
  </div>
</main>
