// TODO: Añadir media queries para que se adapte a pantallas más pequeñas
// TODO: Pasar a SCSS []
// TODO: Si hay muchos hover, los puedo agrupar abajo a todos
// TODO: Cambiar a medidas relativas

* {
  box-sizing: border-box;
}




.main-container {
  max-width: 85%;
  margin: 0 auto;  // Centrado automático
  padding: 2rem;
  margin-top: 2rem;
  // display: grid;
  // grid-template-columns: 1fr 1fr;

  // .title{
  //   font-size: 2.5rem;
  //   font-weight: 600;
  //   color: var(--color-letra-negra);
  //   text-align: center;
  //   margin-bottom: 2%;
  // }

  .background-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2%;
    margin-bottom: 2%;
    padding: 2rem;
    border-radius: 0.6rem;
    // background-color: #0000001a; // TODO: Fijate si esto sirve
  }
  .img-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    .form-container {
      padding: 4%;
      background-color: #a278cb;
      h2 {
        margin-bottom: 4.2%;
      }
      form {
        input, textarea {
          width: 100%;
          padding: 0.65rem;
          margin-bottom: 15px;
          border-radius: 0.6rem;
          font-size: 100%;
          border: 0.0625rem solid #000000; /* 1px solid #000000 */
        }
        textarea {
          height: 10rem;
        }
        button {
          padding: 0.5rem 1rem;
          font-size: 100%;
          cursor: pointer;
          background-color: #007bff;
          color: white;
          border-radius: 0.6rem;
          transition: background-color 0.3s ease;
          border: 1px solid #000000;
          box-shadow: 0.5px 5px 0px 1px #1e0a45;
          -webkit-box-shadow: 0.5px 5px 0px 1px #1e0a45;
        }
        button:hover {
          background-color: #0056b3;
        }
        button:active {
          transform: translateY(2px);
          box-shadow: 0px 2px 0px 1px #1e0a45;
        }
      }
    }
    .same-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2%;
    }
  }
}

.contact-grid {
  -webkit-box-align: start;
  display: flex;
  justify-content: space-between;
  .contact-card {
    flex-basis: 14rem;
    margin: 0 0 3rem 0;
    // TODO: Hacer que todos los margenes sean iguales

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    // Los colorinchis
    .contact-card-content {
      display: block;
      padding: 1.875rem 1.25rem;
      background-color: #1e1e1e;


      // TODO: Cambiar color, muy oscuro
      overflow: hidden;
      position: relative;
    }
    .contact-card-content:hover,
    .contact-card-content:hover .contact-item-details,
    .contact-card-content:hover .contact-item-details h1 a
    {
      text-decoration: none;
      color: #FFF;
    }
    .contact-card-content:hover .contact-card-background {
      -webkit-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
    }
  }
  .contact-grid:hover {
    transform: translateY(-5px);
  }
}
.contact-item-title {
  min-height: 5.4375rem;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.contact-item-info-box {
  color: #FFF;
  z-index: 2;
  position: relative;
}
.contact-item-details,
.contact-item-details h3 a {
  color: #f9b234;
  text-decoration: none;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.contact-card-background {
  height: 8rem;
  width: 8rem;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.contact-card:nth-child(2n) .contact-card-background {
  background-color: #3A59D1;
}
.contact-card:nth-child(3n) .contact-card-background {
  background-color: #e44002;
}
.contact-card:nth-child(4n) .contact-card-background {
  background-color: #952aff;
}

// Por si quiero añadir más cards
// .contact-card:nth-child(5n) .contact-card-background {
//   background-color: #cd3e94;
// }
// .contact-card:nth-child(6n) .contact-card-background {
//   background-color: #4c49ea;
// }


// COLORES
.main-container {
  // background-color: #c22822;
}
.info-container {
  // background-color: #b1a938;
}


@media only screen and (max-width: 979px) {
  .contact-card {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .contact-item-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .contact-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .contact-item-title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .contact-card-content {
    padding: 22px 40px;
  }
  .contact-item-info-box {
    font-size: 16px;
  }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 9px 9px 0px 1px #000000;
  -webkit-box-shadow: 9px 9px 0px 1px #000000;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-form {
  width: 100%;
  height: auto;
  max-width: 400px; /* Ajusta el tamaño máximo según sea necesario */
}
.img-phone {
  width: 100%;
  height: auto;
  max-width: 200px; /* Ajusta el tamaño máximo según sea necesario */
}


