<div class="grid">
@for (game of Games; track $index) {
  <div class="square">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><p>{{game.nombre}}</p></mat-card-title>
      </mat-card-header>

        <!-- <button class="add-button" (click)="agregarAlInventario(game)">Agregar</button> -->
        <img src="{{game.foto}}" alt="Imagen 1" class="square-image">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="view-button" (click)="openDialog(game)">Ver</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  @if (isDialogVisible) {
    <div class="dialog-overlay" (click)="closeDialog()">
      <div class="dialog-content" (click)="$event.stopPropagation()">
        <button class="dialog-close" (click)="closeDialog()">&times;</button>
        <img [src]="selectedGame?.foto" alt="Imagen del juego" class="dialog-image">
        <div class="dialog-text">
          <h2>{{selectedGame?.nombre}}</h2>
          <p><b>Fecha de lanzamiento: </b>{{selectedGame?.fecha_lanzamiento}}</p>
          <p><b>Género: </b>{{selectedGame?.genero}}</p>
          <p><b>multijugador: </b>{{selectedGame?.multijugador}}</p>
          <p><b>Plataformas: </b>{{selectedGame?.plataformas}}</p>
          <!-- <button (click)="closeDialog()">Cerrar</button> -->
        </div>
      </div>
    </div>
  }
  }

</div>






  <!-- Pop-up -->


