.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 50rem;
}

table {
  width: 100%;
  border: 2px solid #000; // Necesario para el borde de la tabla
  margin-bottom: 1.5rem;
}

.boton-guardar {
  text-align: center;
}

button[mat-icon-button] {
  margin: 0;
}
