// TODO: Añadir media queries para que se adapte a pantallas más pequeñas
// TODO: Pasar a SCSS [X]
// TODO: Si hay muchos hover, los puedo agrupar abajo a todos
// TODO: Cambiar a medidas relativas

* {
  box-sizing: border-box;
}

.main-container {
  max-width: 85%;
  margin: 0 auto;  // Centrado automático
  padding: 2rem;
  margin-top: 2rem;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  .background-container {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    gap: 2%;
    margin-bottom: 2%;
    padding: 2%;

    border-radius: 0.6rem;

    background-color: #0000007a;
    // filter: blur(0.5px);
    .info-flex {
      width: 14rem;
      height: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5%;
      align-items: center;

      border-radius: 0.6rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #ccc;

      background-color: #3ABEF9;
      figure {
        display: contents; // Hace que el figure desaparezca visualmente como contenedor, pero mantiene su contenido en el flujo del documento
        img {
          width: 30%;
        }
      }
    }
  }
  .img-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    .form-container {
      border: 2px solid #ccc;
      padding: 4%;
      border-radius: 0.6rem;
      box-shadow: 0 2px 10px rgba(2, 1, 1, 0.1);
      background-color: #3ABEF9;
      h2 {
        margin-bottom: 4.2%;
      }
      form {
        input, textarea {
          width: 100%;
          padding: 0.65rem;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 15px;
          font-size: 100%;
        }
        textarea {
          height: 10rem;
          border-radius: 0.6rem;
          // padding: 2.5%;
        }
        button {
          padding: 2% 4%;
          font-size: 100%;
          cursor: pointer;
          border: none;
          background-color: #007bff;
          color: white;
          border-radius: 0.6rem;
          transition: background-color 0.3s ease;
        }
        button:hover {
          background-color: #0056b3;
        }
      }
    }
    .same-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2%;
    }
  }
}







// COLORES
.main-container {
  // background-color: #c22822;
}
.info-container {
  // background-color: #b1a938;
}
.info-flex {
  // background-color: #38b152;
}
