<!-- * Voy a hacer un contenedor main y luego separar dentro con subcontenedores que serán los que tienen su sombra -->
<!-- TODO: Cambiar los cards con CSS puro con cards de Angular Material -->


<article class="main-container">
  <section class="background-container">

    <!-- * Los tres botónes de contacto -->
      <article class="contact-grid">
        <div class="contact-card">
          <div class="contact-card-content">
            <div class="contact-card-background"></div>


            <div class="contact-item-title">
              <mat-icon>phone</mat-icon>
              <h2>Teléfono</h2>
            </div>

            <div class="contact-item-info-box">
              <span class="contact-item-details">
                <h1>+34 612 345 678</h1>
              </span>
            </div>

          </div>
        </div>
        <div class="contact-card">
          <div class="contact-card-content">
            <div class="contact-card-background"></div>

            <div class="contact-item-title">
              <mat-icon>fax</mat-icon>
              <h2>FAX</h2>
            </div>

            <div class="contact-item-info-box">
              <span class="contact-item-details">
                <h1>+34 612 345 678</h1>
              </span>
            </div>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-card-content">
            <div class="contact-card-background"></div>

            <div class="contact-item-title">
              <mat-icon>email</mat-icon>
              <h2>EMAIL</h2>
            </div>

            <div class="contact-item-info-box">
              <span class="contact-item-details">
                <h1><a href="mailto:hola@gmail.com">hola&#64;gmail.com</a></h1>
              </span>
            </div>
          </div>
        </div>
      </article>




<!-- * Formulario -->
  <section class="img-form-container background-container">
    <!-- Columna1 -->
    <section>
      <figure>
        <img src="" alt="">
      </figure>
    </section>

    <!-- Columna2 -->
    <section class="form-container">
      <header class="header-form">
        <h2>Introduce tu información de contacto</h2>
      </header>
      <form action="#" method="POST">
          <div class="same-row">
            <label for="nombre">Nombre</label>
            <label for="apellidos">Apellidos</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required>
          </div>
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
          <label for="mensaje">Tu mensaje</label>
          <textarea id="mensaje" name="mensaje" placeholder="Tu mensaje" required></textarea>
          <button type="submit">Enviar</button>
      </form>
    </section>
  </section>
  </section>
</article>

<!-- TODO: Cómo se ve mejor, que en el form el título sea Nombre o dentro del input -->
