
.collection-container {
  padding: 0 5rem;
}

.collection-card {
  width: 13rem;
  height: 13rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  border: 2px solid #000000;
  box-shadow:
  9px 9px 0px 1px var(--color-terciario),   /* la capa de "borde" alrededor de la sombra */
  9px 9px 0px 2px #000000;  /* la sombra original */
  border-radius: 0.6rem;
  overflow: hidden;
}

.collection-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 0.9rem;
  color: gray;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #969696;
}

.animated-hover {
  color: black;
  transition: color 0.5s ease;
}
