<main>
  <p class="title">Inventario de ...</p>
  <br>
  <!-- <article class="filter-section">
    <div class="filter-container">
      <button class="filter-button">Filtrar</button>
      <div class="dropdown">
        <ul>
            <li>Opción 1</li>
            <li>Opción 2</li>
            <li>Opción 3</li>
        </ul>
      </div>
    </div>
    <div class="search-container">
      <input type="text" id="search" class="search-input" placeholder="Buscar...">
      <button class="search-button">Buscar</button>
    </div>
  </article> -->

  <div class="container">
    <!-- <table class="main-table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Género</th>
          <th scope="col">Lanzamiento</th>
          <th scope="col">Plataformas</th>
          <th scope="col">Multijugador</th>
          <th scope="col">Imagenes</th>
        </tr>
      </thead>
      <tbody>
        @for (coleccion of inventario; track $index) {
          @for (game of coleccion.Games; track $index) {
            <tr>
            <td>{{game.nombre}}</td>
            <td>{{game.genero}}</td>
            <td>{{game.fecha_lanzamiento}}</td>
            <td>
              @for (item of game.plataformas; track $index) {
                [{{item.nombre}}]
              }
            </td>

            @if (game.multijugador === true) {
              <td>Sí</td>
            } @else {
              <td>No</td>
            }
            <td><img style="height: 10px;" src="{{ game.foto }}" alt=""></td>
          </tr>
          }
        }
      </tbody>
    </table>

    <table class="logo-table">
      <thead>
        <tr>
          <th><br></th>
        </tr>
      </thead>
      @for (coleccion of inventario; track $index) {
        @for (game of coleccion.Games; track $index) {
        <tbody>
          <tr>
              <td class="action-links">
                <a href="">Ver</a>
                <a href="">Agregar</a>
              </td>
          </tr>
        </tbody>
      }
    }
    </table>

    <div class="separator"></div>

    <table class="logo-table">
      <thead>
        <tr>
          <th><br></th>
        </tr>
      </thead>
      @for (coleccion of inventario; track $index) {
        @for (game of coleccion.Games; track $index) {
        <tbody>
          <tr>
            <td>
              <button class="delete-btn" onclick="alert('¡Elemento eliminado!')">
                <img src="/images/trash.svg" alt="Eliminar" width="30" height="30">
              </button>
            </td>
          </tr>
        </tbody>
      }
    }
  </table> -->

  <app-table></app-table>
</div>


</main>

<!-- todo: inyectar el .svg en HTML cuando lo tenga que manipular con JS y SCSS -->
