@if (isLogged) {
  @if (role === 'ROLE_ADMIN') {
    <p>Bienvenido, administrador</p>
  } @else if (role === 'ROLE_USER') {
    <h1>Mi inventario</h1>
    <div class="collection-container">
    <h2>Inventario de <span class="pixel-font">{{ userName }}</span></h2>
    <hr>
    @if (collections) {
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px">
      @for (collection of collections; track $index) {
        <mat-grid-tile>
          <a [routerLink]="['/collection', collection.id]">
            <mat-card class="collection-card">
              <mat-card-header>
                <mat-card-title>{{ collection.name }}</mat-card-title>
              </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </a>
      </mat-grid-tile>
      }
  </mat-grid-list>
  } @else {
    <div class="warning-container">
      <img style="width: 9rem; height: auto;" src="images/logos/logo_pixel_art_died.png" alt="LevelUpZoneLogo" />
      <h2>Acceso denegado</h2>
      <p>Por el momento no tienes colecciones guardadas.</p>
    </div>
  }
    </div>
  }
} @else {
  <div class="warning-container">
    <img style="width: 9rem; height: auto;" src="images/logos/logo_pixel_art_died.png" alt="LevelUpZoneLogo" />
    <h2>Acceso denegado</h2>
    <p>No puedes acceder a tu inventario si no posees una cuenta registrada.</p>
  </div>
}




