<main>
  <p class="title">Inventario de ...</p>
  <br>
  <div class="container">
    <article class="filter-section">
      <div class="filter-container">
        <button class="filter-button">Filtrar<span class="arrow">&#x2193;</span></button>
          <div class="dropdown">
            <ul>
                <li>Opción 1</li>
                <li>Opción 2</li>
                <li>Opción 3</li>
            </ul>
          </div>
        </div>
        <div class="search-container">
          <input type="text" id="search" class="search-input" placeholder="Buscar...">
          <button class="search-button">Buscar</button>
        </div>
    </article>

  <div class="grid">

        @for (juego of juegos; track $index) {
        <div class="square">
          <img src="{{juego.photo}}" alt="Imagen 1" class="square-image">
          <p>{{juego.name}}</p>
          <!-- <button class="add-button" (click)="agregarAlInventario(juego)">Agregar</button> -->
          <button class="view-button">Ver</button>
        </div>
        }

  </div>

  <div class="pagination">
      <button class="prev-page">← Anterior</button>
      <span class="page-info">Página 1 de 5</span>
      <button class="next-page">Siguiente →</button>
    </div>
  </div>
</main>
