// TODO: Añadir media queries para que se adapte a pantallas más pequeñas
// TODO: Pasar a SCSS [x]
// TODO: Si hay muchos hover, los puedo agrupar abajo a todos
// TODO: Cambiar a medidas relativas

main {
  margin: 2% 2%;
  h2 {
    font-size: 2em;
  }
}

  .separator {
    width: 2px;
    background-color: #000;
    // height: 100px; // TODO: Hacer que el separador crezca en función a la catidad de datos
  }
  .logo-table {
    border-collapse: collapse;
    // width: 100%;
    // max-width: 100px;

    .delete-btn {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        // filter: sepia(0) saturate(1) hue-rotate(0deg);
        // background-color: #fff;
        transition: filter 0.3s ease;
      }
      img:hover {
        background-image: url('../../../public/images/trash_red.svg');
      }
    }
  }



//COLORES
// main {
//   background-color: #00000081;
//   backdrop-filter: blur(10px);
// }
// article {
//   background-color: #c02ad4a2;
// }
// figure {
//   background-color: #382ad4a2;
// }
// p {
//   background-color: #d42a54a2;
// }
// .filter-container {
//   background-color: #682ad4a2;
// }
// .search-container {
//   background-color: #2ad4cba2;
// }
// .line {
//   background-color: #000;
// }


.warning-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem auto;
  padding: 2rem;
  // max-width: 400px;


  h2 {
    margin: 0.5rem 0;
    color: #740000;
    font-family: 'PressStart2P-vaV7', 'Varela Round', 'Roboto', sans-serif;
  }

  // p {
  //   margin: 0.5rem 0 1.5rem;
  //   // color: #555;
  // }

  button {
    border: none;
    padding: 12px 24px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
  }
}
