// TODO: Añadir media queries para que se adapte a pantallas más pequeñas
// TODO: Pasar a SCSS [x]
// TODO: Si hay muchos hover, los puedo agrupar abajo a todos
// TODOS: Abajo de todo.
@use 'sass:color';


* {
  z-index: 1;
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1em;
  padding: 0.7em;
  .logo-container {
    display: flex;
    justify-content: flex-start;
    .logo-button {
      display: flex;
      padding: 0.3em;
      .levelupzonelogo-img {
        width: 3.5em;
        height: auto;
        display: flex;
        margin: 0 1em;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease;
        }
      }
    }
  }
  .nav-header {
    display: flex;
    justify-content: center;
    // display: grid;
    align-items: center;
    background-color: #000000;
    border-radius: 0.6rem;
    position: relative;
    top: -10px;
    nav {
      padding: 0 1%;
      ul {
        display: flex;
        gap: 1em;
        align-items: center;
        li {
          display: inline-block;
          a {
            text-decoration: none;
            color: var(--color-letra-blanca);
            white-space: nowrap;
          }
          &:hover {
            color: var(--color-secundario);
            text-shadow:
              0 0 5px var(--color-secundario),
              0 0 10px var(--color-secundario),
              0 0 20px var(--color-secundario),
              0 0 40px var(--color-secundario),
              0 0 80px var(--color-secundario);
          }
        }
      }
    }
  }
}


.third-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    font-family: 'PressStart2P-vaV7';
  }
  .toggle-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;

    background-color: var(--color-blanco-general);
    border-radius: 100%;
    box-shadow: 2px 2px 0px 1px #000000;
    -webkit-box-shadow: 2px 2px 0px 1px #000000;

    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
  }
  .toggle-button:active {
    transform: scale(0.95) translateY(1px); // Da sensación de hundirse
    box-shadow: 1px 1px 0px 0px #000000;     // Menor sombra simula presión
    background-color: color.adjust(#cccccc, $lightness: -5%);
  }
  .account-button {
    background-color: var(--color-blanco-general);
    border-radius: 100%;
    box-shadow: 2px 2px 0px 1px #000000;
    -webkit-box-shadow: 2px 2px 0px 1px #000000;
    margin-left: 0.5rem;
  }
}


// * Botones activos
.activebutton {
  background-color: var(--color-secundario);
  color: var(--color-letra-blanca);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  box-shadow: 0.5px 5px 0px 1px #0a4528;
  -webkit-box-shadow: 0.5px 5px 0px 1px #0a4528;
  // font-weight: bold; // TODO: ¿Cúal es mejor, con o sin?
  transition: all 0.3s ease;
  // TODO: Revisar
}
.activebutton:active {
  transform: translateY(2px); // Simula que el botón se presiona hacia abajo
  box-shadow: 0px 2px 0px 1px #0a4528;  // Cambia la sombra para simular presión
}



// * Pop up de inicio de sesión y registro

.container {
  z-index: 0;
  max-width: 100%;
  min-height: 30rem;
  display: flex;
  overflow: hidden;
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
  }
  .sign-in-container {
    left: 0;
    z-index: 2;
  }
  .sign-up-container {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
}
// Activo: Mover registro al frente
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}


// Overlay
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  .overlay {
    background: linear-gradient(to right, #2196f3, #33ccff);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
  }
}


.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}



.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

// Botones
.button {
  border: none;
  padding: 12px 24px;
  background-color: orange;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  // cursor: pointer;
  font-size: 14px;


}
mat-dialog-actions {
  button {
    background-color: orange;
    border: 1px solid #ffffff;
    box-shadow: 0.5px 5px 0px 1px #ca5009;
    -webkit-box-shadow: 0.5px 5px 0px 1px #ca5009;
    color: #ffffff;
  }
  button:hover {
  background-color: #ff9500;
  }
  button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 0px 1px #ca5009;
  }
}

  .button {
    // background-color: orange;
    border: 1px solid #000000;
    // box-shadow: 0.5px 5px 0px 1px #ca5009;
    // -webkit-box-shadow: 0.5px 5px 0px 1px #ca5009;
  }
.button:hover {
  background-color: #ff9500;
}
.button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 0px 1px #ca5009;
}

button.ghost {
  background-color: white;
  color: #333;
}

input{
  height: 1.5rem;
  margin: 0.5rem 0;
  border: 2px solid #000000;
  box-shadow: 2px 3px 0px 1px #000000;
  -webkit-box-shadow: 2px 3px 0px 1px #000000;
}

::ng-deep .cdk-overlay-backdrop.blur-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3); // opcional: para oscurecer un poco el fondo
}

// * COLORES
.first-dialog-column{
  background-color: #4686a6;
}
.second-dialog-column{
  background-color: aquamarine;
}

p {
  color: #ffffff;
  // border: #000000 2px solid;
  text-shadow: 2px 2px #000000;
}

.mode-toggle {
  transition: background-color 0.3s ease;
  border-radius: 50%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  mat-icon {
    font-size: 24px;
    transition: transform 0.2s ease;
  }
}
