<header>
  <div class="logo-container">
    <a routerLink="/home" class="logo-button">
      <img class="levelupzonelogo-img" [src]="currentImage" alt="LevelUpZoneLogo" (mouseenter)="changeImage()"/>
    </a>
  </div>

  <div class="nav-header">
    <nav class="nav-item" aria-label="Main navigation">
      <ul class="ul-item">
        <li><a routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Inicio</a></li>
        <li><a routerLink="/collections" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Mi inventario</a></li>
        <!-- <li><a><img class="levelupzonelogo-img2" src="/images/LevelUpZoneLogoCenter.png" alt="LevelUpZoneLogoMenu"/></a></li> -->
        <li><a routerLink="/games" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Juegos</a></li>
        <li><a routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contacto</a></li>
        <!-- <li><a routerLink="" routerLinkActive="" ariaCurrentWhenActive="page">Ayuda</a></li> -->
      </ul>
    </nav>
  </div>

  <div class="third-column">
    <!-- * Toggle -->
    <!-- TODO: Colocar iconos de sol y luna 🌞🌙-->
    <!-- TODO: Colocar tres estilos de backround: predeterminado, claro, oscuro -->

    <mat-slide-toggle (change)="toggleTheme()"></mat-slide-toggle>

    <button mat-icon-button routerLink="/temporary-collection">
      <mat-icon [matBadge]="badgeCount" aria-hidden="false" aria-label="Example inventory_2 icon">inventory_2</mat-icon>
    </button>

    <!-- * Icono de usuario -->
    @if (isLogged) {
        @if (role === 'ROLE_ADMIN') {
          <p>Bienvenido, administrador</p>
        } @if (role === 'ROLE_USER') {
          <p style="font-family: 'PressStart2P-vaV7';"> 1P {{ userName }}</p>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="login-button"><img class="login-img" src="/images/LoginLogo.png" alt="LoginLogo.png"></button>
          <mat-menu #menu="matMenu">
            <a href="" style="color: inherit; text-decoration: none;"><button mat-menu-item>Ver Perfil</button></a>
            <a href="" style="color: inherit; text-decoration: none;"><button mat-menu-item (click)="onLogout()">Cerrar Sesión</button></a>
          </mat-menu>
        }
    } @else {
      <button class="account-button" mat-icon-button (click)="openDialog('100ms', '100ms')">
        <mat-icon mat-raised-button aria-hidden="false" aria-label="Example close icon" fontIcon="account_circle"></mat-icon>
      </button>

      <style>
        .account-button {
          background-color: var(--color-blanco-general);
          border-radius: 100%;
          /* border: 1px solid var(--color-negro-general); */
          box-shadow: 2px 2px 0px 1px #000000;
          -webkit-box-shadow: 2px 2px 0px 1px #000000;
        }
      </style>
    }

  </div>
  </header>
