// TODO: Añadir media queries para que se adapte a pantallas más pequeñas
// TODO: Pasar a SCSS [x]
// TODO: Si hay muchos hover, los puedo agrupar abajo a todos
// TODOS: Abajo de todo.


* {
  z-index: 1;
  text-shadow: 0 0 10px #ffffffcc, 0 0 20px #ffffff99, 0 0 30px #ffffff66;
}
header {
  // DEJO EL DISPLAY FLEX POR SI ACASO DEBO DE REGRESAR A USARLO
  // display: flex;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1em;
  padding: 0.7em;
  div {
    a {
      div {
        .logo {
          font-family: 'Myfont';
          font-size: 1.75rem;
          // font-size: 2.75rem; // TODO: Con este tamaño puedo escribir algo debajo del título
          margin-right: 0.5rem;
        }
        span {
          font-family: 'Flashback';
          color: var(--color-letra-blanca);
          text-shadow:
            0 0 5px var(--color-secundario),
            0 0 10px var(--color-secundario),
            0 0 20px var(--color-secundario),
            0 0 40px var(--color-secundario),
            0 0 80px var(--color-secundario);
          // animation: flicker 2s infinite;
        }
      }
    }
  }
}
.nav-header {
  display: flex;
  justify-content: center;
  // display: grid;
  align-items: center;
  .nav-item {
    padding: 0 1%;
  }
  nav {
    ul {
      display: flex;
      gap: 1em;
      // align-items: center;
      li {
        display: inline-block;
        // padding: 0 5%; //TODO: hacer que tenga margen y que también aumente el ul
        a {
          text-decoration: none;
          color: var(--color-letra-blanca);
          white-space: nowrap;
        }
      }
    }
  }
}
.logo-container {
  display: flex;
  justify-content: flex-start;
}
.third-column {
  display: flex;
  justify-content: flex-end; // Alinea a la derecha
  align-items: center;       // Centra verticalmente los elementos
  // gap: 9rem;
}
.logo-button {
  display: flex;
  // padding: 0.2em;
}
.login-img {
  width: 1em;
  height: auto;
  display: flex;
}

.neon-text {
  max-width: 12.5%;
}
.login-img:hover, .neon-text:hover {
  cursor: pointer;
}
// COLORES
.first-dialog-column{
  background-color: #4686a6;
}
.second-dialog-column{
  background-color: aquamarine;
}

// CUANDO LOS BOTONES ESTÁN ACTIVOS
.activebutton {
  background-color: var(--color-secundario);
  color: var(--color-letra-blanca);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  // box-shadow: 0 4px 6px #0000001a;
  box-shadow: 0.5px 5px 0px 1px #0a4528;
  -webkit-box-shadow: 0.5px 5px 0px 1px #0a4528;
  // font-weight: bold; // TODO: ¿Cúal es mejor, con o sin?
  transition: all 0.3s ease; /* Suavidad al interactuar */
  // TODO: Revisar
}

// TEXTO EN NEÓN
.neon-text {
  font-size: 1.7rem;
  display: flex; // Permite manejar letras como bloques individuales
  font-weight: bold;
}
.lowercase {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 0.875rem;
}



/* Diferentes letras con animaciones únicas */

span:nth-child(2) {
  animation: flicker 3s infinite;
}
span:nth-child(4) {
  animation: off 4s infinite;
}
span:nth-child(6),
span:nth-child(8) {
  animation: flicker 2.5s infinite alternate;
}
span:nth-child(11) {
  animation: off 5s infinite;
}

/* Animación de parpadeo */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      0 0 5px var(--color-secundario),
      0 0 10px var(--color-secundario),
      0 0 20px var(--color-secundario),
      0 0 40px var(--color-secundario),
      0 0 80px var(--color-secundario);
    opacity: 1;
  }
  20%, 24%, 55% {
    text-shadow: none;
    opacity: 0.3;
  }
}

/* Animación de apagado */
@keyframes off {
  0%, 80% {
    text-shadow: none;
    opacity: 0.2;
  }
  81%, 100% {
    text-shadow:
      0 0 5px var(--color-secundario),
      0 0 10px var(--color-secundario),
      0 0 20px var(--color-secundario),
      0 0 40px var(--color-secundario),
      0 0 80px var(--color-secundario);
    opacity: 1;
    }
  }






  .theme-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .dark-mode .icon:nth-child(2) {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .dark-mode .icon:nth-child(1) {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  .light-theme .icon:nth-child(1) {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .light-theme .icon:nth-child(2) {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }



  /* Puedes personalizar más, por ejemplo, cambiar otros componentes */


  /* POP UP */
// .dialog-content {
//   padding: 2%;
//   border-radius: 1%;
//   position: relative;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

/* Contenedor principal */
.container {
  background: #fff;
  // border-radius: 10px;
  position: relative;
  z-index: 0; // Cambialo si quere las idea de ventana angiua
  max-width: 100%;
  min-height: 480px;
  display: flex;
  overflow: hidden;
}

/* Paneles de formulario */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  // transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* Activo: Mover registro al frente */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Overlay */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: linear-gradient(to right, #2196f3, #33ccff);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Panel dentro del overlay */
.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* Botones */
.button {
  border: none;
  padding: 12px 24px;
  background-color: orange;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

button.ghost {
  background-color: white;
  color: #333;
}

input{
  height: 1.5rem;
  margin: 0.5rem 0;
  border: 2px solid #000000;
  box-shadow: 2px 3px 0px 1px #000000;
  -webkit-box-shadow: 2px 3px 0px 1px #000000;
}
