<header class="main-header">
  <div class="logo-container">
    <a class="logo-button"><img class="levelupzonelogo-img" src="/images/LevelUpZoneLogo.png" alt="LevelUpZoneLogo"/></a>
  </div>

  <div class="nav-header">
    <nav class="nav-item" aria-label="Main navigation">
      <ul class="ul-item">
        <li><a routerLink="/inicio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Inicio</a></li>
        <li><a routerLink="/mi-inventario" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Mi inventario</a></li>
        <li><a routerLink="/juegos" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Juegos</a></li>
        <li><a routerLink="/contacto" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <!-- cambio button por a -->
  <div class="login-container">
    <a class="login-button"><img class="login-img" src="/images/LoginLogo.png" alt="LoginLogo.png"></a>
  </div>
</header>
<!-- Cambiar el nombre de main-header2 -->

