.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;

  /* Estilo del borde */
  border: 2px solid #e74c3c;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;

  /* Fondo y sombra */
  background-color: #f9f9f9;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);

  /* Animación suave */
  animation: fadeIn 0.5s ease-in-out;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
