* {
  box-sizing: border-box;
}
main {
  margin: 2% 2%;
  .title {
    font-size: 2em;
  }
}
.container {
  max-width: 1200px;
  padding: 2%;
}
// .filter-section {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 20px;
// }
// .search-container {
//   display: flex;
//   gap: 10px;
// }
// .search-input {
//   padding: 10px;
//   font-size: 16px;
//   width: 250px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }
// .search-button {
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   border: none;
//   background-color: #007bff;
//   color: white;
//   border-radius: 5px;
// }
// .search-button:hover {
//   background-color: #0056b3;
// }
// .filter-container {
//   position: relative;
// }
// .filter-button {
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   border: none;
//   background-color: #28a745;
//   color: white;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   gap: 5px;
// }
// .filter-button:hover {
//   background-color: #218838;
// }
// .arrow {
//   font-size: 18px;
// }
// .dropdown {
//   display: none;
//   // position: absolute;
//   top: 100%;
//   left: 0;
//   background-color: white;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   width: 150px;
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
// }
// .dropdown ul {
//   list-style: none;
//   padding: 10px 0;
// }
// .dropdown ul li {
//   padding: 8px 20px;
//   cursor: pointer;
// }
// .dropdown ul li:hover {
//   background-color: #f4f4f4;
// }
// .filter-container:hover .dropdown {
//   display: block;
// }
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-bottom: 2%;
  .square {
    background-color: rgb(0, 0, 0);
    // border: 2px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 1.5%;
    text-align: center;
    // position: relative;
    .square-image {
      width: 100%;
      height: 350px;
      // height: 115%; // TODO: Hacer que funcione
      object-fit: cover; /* Ajusta la imagen sin deformarla */
      border-radius: 8px;
      margin-bottom: 6%;
    }
    .add-button, .view-button {
      // padding: 10px 15px;
      padding: 4% 6%;
      font-size: 90%;
      cursor: pointer;
      border: none;
      background-color: #28a745;
      color: white;
      border-radius: 4px;
      margin: 4% 0 1% 0;
    }
  }
}

// TODO: Saber como ordenarlo con SCSS

.add-button:hover, .view-button:hover {
  background-color: #218838;
}
.view-button {
  background-color: #17a2b8;
}
.add-button {
  background-color: #b81717;
}
.view-button:hover {
  background-color: #138496;
}
.add-button {
  margin-right: 10px; /* Separar más los botones */
}
// .pagination {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
// }
// .prev-page, .next-page {
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   border: none;
//   background-color: #6c757d;
//   color: white;
//   border-radius: 5px;
// }
// .prev-page:hover, .next-page:hover {
//   background-color: #5a6268;
// }
// .page-info {
//   font-size: 16px;
//   color: #333;
// }


/* POP UP */
.dialog-content {
  padding: 2%;
  border-radius: 1%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .dialog-image {
    max-width: 100%;
    height: auto;
    border-radius: 3%;
  }
  .dialog-text {
    margin-left: 4%;
  }
}

// COLORES

main {
  background-color: #c47b2881;
}
article {
  background-color: #28c44a81;
}
figure {
  background-color: #c4289581;
}
figure img {
  background-color: #6128c481;
}
p {
  background-color: #2838c499;
}
