<main>
  <p class="title">Inventario de ...</p>
  <br>
  <!-- <article class="filter-section">
    <div class="filter-container">
      <button class="filter-button">Filtrar</button>
      <div class="dropdown">
        <ul>
            <li>Opción 1</li>
            <li>Opción 2</li>
            <li>Opción 3</li>
        </ul>
      </div>
    </div>
    <div class="search-container">
      <input type="text" id="search" class="search-input" placeholder="Buscar...">
      <button class="search-button">Buscar</button>
    </div>
  </article> -->

  <div class="container">
    <table class="main-table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Género</th>
          <th scope="col">Lanzamiento</th>
          <th scope="col">Plataformas</th>
          <th scope="col">Multijugador</th>
          <th scope="col">Imagenes</th>
        </tr>
      </thead>
      <tbody>
        @for (juego of inventario; track $index) {
          <tr>
          <td>{{juego.nombre}}</td>
          <td>{{juego.genero}}</td>
          <td>{{juego.fecha_lanzamiento}}</td>
          <td>{{juego.plataformas}}</td>
          @if (juego.multijugador === true) {
            <td>Sí</td>
          } @else {
            <td>No</td>
          }
          <td><img style="height: 10px;" src="{{ juego.foto }}" alt=""></td>

          </tr>
        }
      </tbody>
    </table>

    <table class="logo-table">
      <thead>
        <tr>
          <th><br></th>
        </tr>
      </thead>
      @for (juego of inventario; track $index) {
        <tbody>
          <tr>
              <td class="action-links">
                <a href="">Ver</a>
                <a href="">Agregar</a>
              </td>
          </tr>
        </tbody>
      }
    </table>

    <div class="separator"></div>
    <!-- Segunda tabla con logotipo de papelera -->

    <table class="logo-table">
      <thead>
        <tr>
          <th><br></th>
        </tr>
      </thead>
      @for (juego of inventario; track $index) {
        <tbody>
          <tr>
            <td>
              <button class="delete-btn" onclick="alert('¡Elemento eliminado!')">
                <img src="/images/trash.svg" alt="Eliminar" width="30" height="30">
                <!-- todo: inyectar el .svg en HTML cuando lo tenga que manipular con JS y SCSS -->
              </button>
            </td>
          </tr>
        </tbody>
      }
    </table>
  </div>

</main>
