<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8 custom-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let game"> {{ game.name }} </td>
    </ng-container>

    <!-- Genre -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let game"> {{ game.genre }} </td>
    </ng-container>

    <!-- Release Date -->
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef> Release Date </th>
      <td mat-cell *matCellDef="let game"> {{ game.release_date }} </td>
    </ng-container>

    <!-- Studio -->
    <ng-container matColumnDef="studio">
      <th mat-header-cell *matHeaderCellDef> Studio </th>
      <td mat-cell *matCellDef="let game"> {{ game.studio }} </td>
    </ng-container>

    <!-- Multiplayer -->
    <ng-container matColumnDef="multiplayer">
      <th mat-header-cell *matHeaderCellDef> Multiplayer </th>
      <td mat-cell *matCellDef="let game"> {{ game.multiplayer ? 'Yes' : 'No' }} </td>
    </ng-container>

    <!-- Platforms -->
    <ng-container matColumnDef="platforms">
      <th mat-header-cell *matHeaderCellDef> Platforms </th>
      <td mat-cell *matCellDef="let game"> {{ formatPlatforms(game.platforms) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
